.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-button {
  width: 100%;
}

.full-width-button {
  width: 100%;
  background-color: #5d8f7d;
  color: white !important; 
}

.search-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  width: 100%;
}

.general-search {
  flex-grow: 1;
}

mat-form-field {
  flex: 1;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #5d8f7d;
  color: #5d8f7d;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .search-fields {
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
  }
}
